.logement-button {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    border: none;
    color: #ffffff;
    background: #FF6060;
    height: 25px;
    width: 115px;
    border-radius: 10px;

    @media (max-width: 375px) {
        font-size: 10px;
        line-height: 14px;
        border-radius: 5px;
        width: 90px;
        height: 18px;
    }
}