.carrousel {
    margin: 5% 5%;
    overflow: hidden;
    display: flex;
    border-radius: 25px;
    position: relative;
    flex-direction: column;

    @media (min-width: 769px) {
        height: 415px;
    }

    @media (max-width: 768px) {
        height: 255px;
    }

    @media (max-width: 375px) {
        flex-direction: row;
    }

    .imgabout {
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .carrousel-overlay {
        background: #000000;
        mix-blend-mode: darken;
        opacity: 0.1;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 25px;
    }

    .arrowleft,
    .arrowright {
        position: absolute;
        top: 40%;
        cursor: pointer;

        @media (max-width: 768px) {
            height: 50px;
        }

        @media (max-width: 375px) {
            height: 20px;
            top: 45%;
        }
    }

    .arrowleft {

        left: 2%;
    }

    .arrowright {

        right: 2%;
    }

    .numberimg {
        position: absolute;
        color: #ffffff;
        font-size: 20px;
        bottom: 2%;
        left: 49.5%;

        @media (max-width: 768px) {
            left: 48%;
            bottom: 0;
        }
    }

    .slide {
        border-radius: 25px;
        display: flex;
        height: 100%;
    }
}