.linkacceuil {
    margin: 0px 0px 0px 0px;
}

.linkabout {
    margin: 0px 0px 0px 57px;
}

.link-header {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #FF6060;
}