footer {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .logo-footer {
        width: 122px;
        object-fit: cover;
        margin-top: 60px;
    }

    .kasarights {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        margin-top: 3%;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 18px;
            margin-bottom: 60px;
        }

        @media (max-width: 375px) {
            font-size: 12px;
        }
    }
}